@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* RESET RULES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

html{
    font-family: "Lato", sans-serif;
}

p{
    line-height: 22px;
}

/* layout */

.container-full{
    max-width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}


/* HEADER */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 40px;
}

/* MAIN */

.bg-hero{
    background-color: #B4D0E7;
    padding-top: 90px;
}

.bg-hero .col-100 h1{
    font-size: 80px;
    
}

.hero{
    padding-bottom: 50px;
}

.cta{
    color: white;
    background-color: #0061FF;
    padding: 8px 12px;
    display: inline-block;
}

.bg-hero .col-30 .cta{
    margin: 35px 0;
}

.arrow{
    font-size: 45px;
}

