@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* RESET RULES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

html{
    font-family: "Lato", sans-serif;
}

p{
    line-height: 22px;
}

/* layout */

.container-full{
    max-width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% / 3);
}


/* HEADER */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 40px;
}

/* MAIN */

.bg-hero{
    background-color: #B4D0E7;
    padding-top: 90px;
    margin-bottom: 140px;
}

.bg-hero .col-100 h1{
    font-size: 80px;
    
}

.hero{
    padding-bottom: 50px;
}

.cta{
    color: white;
    background-color: #0061FF;
    padding: 10px 14px;
    display: inline-block;
}

.bg-hero .col-30 .cta{
    margin: 35px 0;
}

.arrow{
    font-size: 45px;
}

.title{
    padding-bottom: 70px;
    font-size: 40px;
}

.radio-month{
    padding-right: 40px;
}

.card{
    margin: 60px 50px 50px 0;
    
}

.title-row-plans{
    padding: 30px 30px 15px;
}

.title-row-plans,
.euro{
    font-weight: 900;
}

.month{
    color: #AFAFAF;
    font-weight: normal;
    padding-top: 16px;
    padding-bottom: 45px;
}

.list-professional{
    position: relative;
    padding: 0 30px;
}

.icon-main{
    font-size: 15px;
    padding: 12px 0;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
}

.card .col-100,
.col-33{
    border: 1px solid #D9D9D9;
}

.icon-secondary{
    position: absolute;
    left: 15px;
}

.row-plans span{
    padding-left: 5px;
    font-size: 18px;
}

.row-plans li{
    padding-bottom: 20px;
}

.cta-row-plans{
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.list-professional p>a{
    color: #0C27EF;
    text-decoration: underline;
}

.p-border{
    padding-bottom: 40px;
    border-bottom: 1px solid #D9D9D9;
}

.title-row-plans{
    padding-top: 50px;
}